# Join Statements - Lab

## Introduction

In this lab, you'll practice your knowledge on Join statements.

## Objectives

You will be able to:
- Write queries that make use of various types of Joins
- Join tables using foreign keys

## CRM Schema

In almost all cases, rather then just working with a single table we will typically need data from multiple tables. 
Doing this requires the use of **joins ** using shared columns from the two tables. 

In this lab, we'll use the same Customer Relationship Management (CRM) database we used in our lecture before!
<img src='Database-Schema.png' width=550>

## Connecting to the Database
Import the necessary packages and connect to the database **data.sqlite**.

In [15]:
#Your code here
import sqlite3
import pandas as pd

conn = sqlite3.connect('data.sqlite')
cur = conn.cursor()

## Display the names of all the employees in Boston.

In [16]:
#Your code here
pd.DataFrame(cur.execute('''
select firstName, lastName
from employees
join offices
using(officeCode)
WHERE city="Boston"
;''').fetchall())

       0          1
0  Julie   Firrelli
1  Steve  Patterson

## Do any offices have no employees?

In [17]:
#Your code here
pd.DataFrame(cur.execute('''
select city, count(*)
from offices
left join employees
using(officeCode)
group by 1
;''').fetchall())

               0  1
0         Boston  2
1         London  2
2            NYC  2
3          Paris  5
4  San Francisco  6
5         Sydney  4
6          Tokyo  2

## Write 3 Questions of your own and answer them

In [18]:
# Answers will vary
#1) Get order count by customer name
#2) get product count by order number
#3) get office city by employee full name=

In [ ]:
pd.DataFrame(cur.execute('''
SELECT employees.firstName, employees.lastName, offices.city
FROM orderdetails
LEFT JOIN products
ON orderdetails.productCode = products.productCode
GROUP BY orderdetails.orderNumber
ORDER BY COUNT(*) DESC;
''').fetchall())

In [39]:
pd.DataFrame(cur.execute('''
SELECT orderdetails.orderNumber, COUNT(products.productCode)
FROM orderdetails
LEFT JOIN products
ON orderdetails.productCode = products.productCode
GROUP BY orderdetails.orderNumber
ORDER BY COUNT(*) DESC;
''').fetchall())

         0   1
0    10106  18
1    10159  18
2    10165  18
3    10168  18
4    10222  18
5    10275  18
6    10316  18
7    10332  18
8    10360  18
9    10386  18
10   10398  18
11   10122  17
12   10126  17
13   10135  17
14   10181  17
15   10182  17
16   10204  17
17   10210  17
18   10280  17
19   10287  17
20   10304  17
21   10306  17
22   10310  17
23   10312  17
24   10350  17
25   10373  17
26   10103  16
27   10108  16
28   10110  16
29   10142  16
..     ...  ..
296  10243   2
297  10255   2
298  10256   2
299  10265   2
300  10269   2
301  10290   2
302  10298   2
303  10303   2
304  10323   2
305  10385   2
306  10409   2
307  10421   2
308  10422   2
309  10116   1
310  10118   1
311  10132   1
312  10144   1
313  10158   1
314  10189   1
315  10216   1
316  10242   1
317  10277   1
318  10286   1
319  10294   1
320  10317   1
321  10345   1
322  10364   1
323  10376   1
324  10387   1
325  10408   1

[326 rows x 2 columns]

In [36]:
# Your code here
cur.execute('''
SELECT customers.customerName, COUNT(*)
FROM customers
LEFT JOIN orders
ON customers.customerNumber = orders.customerNumber
GROUP BY customers.customerName
ORDER BY COUNT(*) DESC;
''').fetchall()

[('Euro+ Shopping Channel', 26),
 ('Mini Gifts Distributors Ltd.', 17),
 ('Australian Collectors, Co.', 5),
 ('Danish Wholesale Imports', 5),
 ('Down Under Souveniers, Inc', 5),
 ('Dragon Souveniers, Ltd.', 5),
 ('Reims Collectables', 5),
 ("Anna's Decorations, Ltd", 4),
 ('Baane Mini Imports', 4),
 ('Blauer See Auto, Co.', 4),
 ('Corporate Gift Ideas Co.', 4),
 ('Diecast Classics Inc.', 4),
 ('Handji Gifts& Co', 4),
 ("Kelly's Gift Shop", 4),
 ('La Rochelle Gifts', 4),
 ('Land of Toys Inc.', 4),
 ('Muscle Machine Inc', 4),
 ('Royale Belge', 4),
 ('Salzburg Collectables', 4),
 ('Souveniers And Things Co.', 4),
 ('Technics Stores Inc.', 4),
 ('The Sharp Gifts Warehouse', 4),
 ('Tokyo Collectables, Ltd', 4),
 ('Volvo Model Replicas, Co', 4),
 ('AV Stores, Co.', 3),
 ('Alpha Cognac', 3),
 ('Atelier graphique', 3),
 ('Australian Collectables, Ltd', 3),
 ('Australian Gift Network, Co', 3),
 ('Auto Canal+ Petit', 3),
 ('Auto-Moto Classics Inc.', 3),
 ('Classic Legends Inc.', 3),
 ('Collectables For Less Inc.', 3),
 ('Corrida Auto Replicas, Ltd', 3),
 ('Cruz & Sons Co.', 3),
 ('Enaco Distributors', 3),
 ('Extreme Desk Decorations, Ltd', 3),
 ('FunGiftIdeas.com', 3),
 ('Gift Depot Inc.', 3),
 ('Gift Ideas Corp.', 3),
 ('Gifts4AllAges.com', 3),
 ('GiftsForHim.com', 3),
 ('Herkku Gifts', 3),
 ("L'ordine Souveniers", 3),
 ("La Corne D'abondance, Co.", 3),
 ('Lyon Souveniers', 3),
 ('Marseille Mini Autos', 3),
 ('Mini Auto Werke', 3),
 ('Mini Caravy', 3),
 ('Mini Creations Ltd.', 3),
 ('Mini Wheels Co.', 3),
 ('Motor Mint Distributors Inc.', 3),
 ('Online Diecast Creations Co.', 3),
 ('Oulu Toy Supplies, Inc.', 3),
 ('Petit Auto', 3),
 ('Québec Home Shopping Network', 3),
 ('Rovelli Gifts', 3),
 ('Saveley & Henriot, Co.', 3),
 ('Scandinavian Gift Ideas', 3),
 ('Signal Gift Stores', 3),
 ('Stylish Desk Decors, Co.', 3),
 ('Suominen Souveniers', 3),
 ('Tekni Collectables Inc.', 3),
 ('Toys of Finland, Co.', 3),
 ('Toys4GrownUps.com', 3),
 ('UK Collectables, Ltd.', 3),
 ('Vitachrome Inc.', 3),
 ('Amica Models & Co.', 2),
 ('Auto Associés & Cie.', 2),
 ('Boards & Toys Co.', 2),
 ('CAF Imports', 2),
 ('Cambridge Collectables Co.', 2),
 ('Canadian Gift Exchange Network', 2),
 ('Classic Gift Ideas, Inc', 2),
 ('Clover Collections, Co.', 2),
 ('Collectable Mini Designs Co.', 2),
 ('Daedalus Designs Imports', 2),
 ('Diecast Collectables', 2),
 ('Double Decker Gift Stores, Ltd', 2),
 ('Frau da Collezione', 2),
 ('Heintze Collectables', 2),
 ('Iberia Gift Imports, Corp.', 2),
 ('King Kong Collectables, Co.', 2),
 ("Marta's Replicas Co.", 2),
 ("Men 'R' US Retailers, Ltd.", 2),
 ('Microscale Inc.', 2),
 ('Mini Classics', 2),
 ('Norway Gifts By Mail, Co.', 2),
 ('Online Mini Collectables', 2),
 ('Osaka Souveniers Co.', 2),
 ('Royal Canadian Collectables, Ltd.', 2),
 ('Signal Collectibles Ltd.', 2),
 ('Super Scale Inc.', 2),
 ('Toms Spezialitäten, Ltd', 2),
 ('Vida Sport, Ltd', 2),
 ('West Coast Collectables Co.', 2),
 ('giftsbymail.co.uk', 2),
 ('ANG Resellers', 1),
 ('American Souvenirs Inc', 1),
 ('Anton Designs, Ltd.', 1),
 ('Asian Shopping Network, Co', 1),
 ('Asian Treasures, Inc.', 1),
 ('BG&E Collectables', 1),
 ('Bavarian Collectables Imports, Co.', 1),
 ('Cramer Spezialitäten, Ltd', 1),
 ('Der Hund Imports', 1),
 ('Feuer Online Stores, Inc', 1),
 ('Franken Gifts, Co', 1),
 ('Havel & Zbyszek Co', 1),
 ('Kommission Auto', 1),
 ('Kremlin Collectables, Co.', 1),
 ('Lisboa Souveniers, Inc', 1),
 ('Messner Shopping Network', 1),
 ('Mit Vergnügen & Co.', 1),
 ('Natürlich Autos', 1),
 ('Porto Imports Co.', 1),
 ('Precious Collectables', 1),
 ('Raanan Stores, Inc', 1),
 ('SAR Distributors, Co', 1),
 ('Schuyler Imports', 1),
 ('Stuttgart Collectable Exchange', 1),
 ('Warburg Exchange', 1)]

In [ ]:
# Your code here

In [ ]:
# Your code here

## Level Up: Display the names of each product each employee has sold.

In [ ]:
# Your code here

## Level Up: Display the Number of Products each Employee Has sold

In [ ]:
#Your code here

## Summary

Congrats! You now know how to use Join statements, along with leveraging your foreign keys knowledge!