# Join Statements - Lab

## Introduction

In this lab, you'll practice your knowledge on Join statements.

## Objectives

You will be able to:
- Write queries that make use of various types of Joins
- Join tables using foreign keys

## CRM Schema

In almost all cases, rather then just working with a single table we will typically need data from multiple tables. 
Doing this requires the use of **joins ** using shared columns from the two tables. 

In this lab, we'll use the same Customer Relationship Management (CRM) database we used in our lecture before!
<img src='Database-Schema.png' width=550>

## Connecting to the Database
Import the necessary packages and connect to the database **data.sqlite**.

In [15]:
#Your code here
import sqlite3
import pandas as pd

conn = sqlite3.connect('data.sqlite')
cur = conn.cursor()

## Display the names of all the employees in Boston.

In [16]:
#Your code here
pd.DataFrame(cur.execute('''
select firstName, lastName
from employees
join offices
using(officeCode)
WHERE city="Boston"
;''').fetchall())

       0          1
0  Julie   Firrelli
1  Steve  Patterson

## Do any offices have no employees?

In [17]:
#Your code here
pd.DataFrame(cur.execute('''
select city, count(*)
from offices
left join employees
using(officeCode)
group by 1
;''').fetchall())

               0  1
0         Boston  2
1         London  2
2            NYC  2
3          Paris  5
4  San Francisco  6
5         Sydney  4
6          Tokyo  2

## Write 3 Questions of your own and answer them

In [18]:
# Answers will vary
#1) Get order count by customer name
#2) get product count by order number
#3) get office city by employee full name

In [33]:
# Your code here
cur.execute('''
SELECT customers.customerName, COUNT()
FROM customers
LEFT JOIN orders
ON customers.customerNumber = orders.customerNumber
GROUP BY customers.customerName
ORDER BY customers.customerName;
''').fetchall()

[('ANG Resellers',),
 ('AV Stores, Co.',),
 ('Alpha Cognac',),
 ('American Souvenirs Inc',),
 ('Amica Models & Co.',),
 ("Anna's Decorations, Ltd",),
 ('Anton Designs, Ltd.',),
 ('Asian Shopping Network, Co',),
 ('Asian Treasures, Inc.',),
 ('Atelier graphique',),
 ('Australian Collectables, Ltd',),
 ('Australian Collectors, Co.',),
 ('Australian Gift Network, Co',),
 ('Auto Associés & Cie.',),
 ('Auto Canal+ Petit',),
 ('Auto-Moto Classics Inc.',),
 ('BG&E Collectables',),
 ('Baane Mini Imports',),
 ('Bavarian Collectables Imports, Co.',),
 ('Blauer See Auto, Co.',),
 ('Boards & Toys Co.',),
 ('CAF Imports',),
 ('Cambridge Collectables Co.',),
 ('Canadian Gift Exchange Network',),
 ('Classic Gift Ideas, Inc',),
 ('Classic Legends Inc.',),
 ('Clover Collections, Co.',),
 ('Collectable Mini Designs Co.',),
 ('Collectables For Less Inc.',),
 ('Corporate Gift Ideas Co.',),
 ('Corrida Auto Replicas, Ltd',),
 ('Cramer Spezialitäten, Ltd',),
 ('Cruz & Sons Co.',),
 ('Daedalus Designs Imports',),
 ('Danish Wholesale Imports',),
 ('Der Hund Imports',),
 ('Diecast Classics Inc.',),
 ('Diecast Collectables',),
 ('Double Decker Gift Stores, Ltd',),
 ('Down Under Souveniers, Inc',),
 ('Dragon Souveniers, Ltd.',),
 ('Enaco Distributors',),
 ('Euro+ Shopping Channel',),
 ('Extreme Desk Decorations, Ltd',),
 ('Feuer Online Stores, Inc',),
 ('Franken Gifts, Co',),
 ('Frau da Collezione',),
 ('FunGiftIdeas.com',),
 ('Gift Depot Inc.',),
 ('Gift Ideas Corp.',),
 ('Gifts4AllAges.com',),
 ('GiftsForHim.com',),
 ('Handji Gifts& Co',),
 ('Havel & Zbyszek Co',),
 ('Heintze Collectables',),
 ('Herkku Gifts',),
 ('Iberia Gift Imports, Corp.',),
 ("Kelly's Gift Shop",),
 ('King Kong Collectables, Co.',),
 ('Kommission Auto',),
 ('Kremlin Collectables, Co.',),
 ("L'ordine Souveniers",),
 ("La Corne D'abondance, Co.",),
 ('La Rochelle Gifts',),
 ('Land of Toys Inc.',),
 ('Lisboa Souveniers, Inc',),
 ('Lyon Souveniers',),
 ('Marseille Mini Autos',),
 ("Marta's Replicas Co.",),
 ("Men 'R' US Retailers, Ltd.",),
 ('Messner Shopping Network',),
 ('Microscale Inc.',),
 ('Mini Auto Werke',),
 ('Mini Caravy',),
 ('Mini Classics',),
 ('Mini Creations Ltd.',),
 ('Mini Gifts Distributors Ltd.',),
 ('Mini Wheels Co.',),
 ('Mit Vergnügen & Co.',),
 ('Motor Mint Distributors Inc.',),
 ('Muscle Machine Inc',),
 ('Natürlich Autos',),
 ('Norway Gifts By Mail, Co.',),
 ('Online Diecast Creations Co.',),
 ('Online Mini Collectables',),
 ('Osaka Souveniers Co.',),
 ('Oulu Toy Supplies, Inc.',),
 ('Petit Auto',),
 ('Porto Imports Co.',),
 ('Precious Collectables',),
 ('Québec Home Shopping Network',),
 ('Raanan Stores, Inc',),
 ('Reims Collectables',),
 ('Rovelli Gifts',),
 ('Royal Canadian Collectables, Ltd.',),
 ('Royale Belge',),
 ('SAR Distributors, Co',),
 ('Salzburg Collectables',),
 ('Saveley & Henriot, Co.',),
 ('Scandinavian Gift Ideas',),
 ('Schuyler Imports',),
 ('Signal Collectibles Ltd.',),
 ('Signal Gift Stores',),
 ('Souveniers And Things Co.',),
 ('Stuttgart Collectable Exchange',),
 ('Stylish Desk Decors, Co.',),
 ('Suominen Souveniers',),
 ('Super Scale Inc.',),
 ('Technics Stores Inc.',),
 ('Tekni Collectables Inc.',),
 ('The Sharp Gifts Warehouse',),
 ('Tokyo Collectables, Ltd',),
 ('Toms Spezialitäten, Ltd',),
 ('Toys of Finland, Co.',),
 ('Toys4GrownUps.com',),
 ('UK Collectables, Ltd.',),
 ('Vida Sport, Ltd',),
 ('Vitachrome Inc.',),
 ('Volvo Model Replicas, Co',),
 ('Warburg Exchange',),
 ('West Coast Collectables Co.',),
 ('giftsbymail.co.uk',)]

In [ ]:
# Your code here

In [ ]:
# Your code here

## Level Up: Display the names of each product each employee has sold.

In [ ]:
# Your code here

## Level Up: Display the Number of Products each Employee Has sold

In [ ]:
#Your code here

## Summary

Congrats! You now know how to use Join statements, along with leveraging your foreign keys knowledge!