# Join Statements - Lab

## Introduction

In this lab, you'll practice your knowledge on Join statements.

## Objectives

You will be able to:
- Write queries that make use of various types of Joins
- Join tables using foreign keys

## CRM Schema

In almost all cases, rather then just working with a single table we will typically need data from multiple tables. 
Doing this requires the use of **joins ** using shared columns from the two tables. 

In this lab, we'll use the same Customer Relationship Management (CRM) database we used in our lecture before!
<img src='Database-Schema.png' width=550>

## Connecting to the Database
Import the necessary packages and connect to the database **data.sqlite**.

In [15]:
#Your code here
import sqlite3
import pandas as pd

conn = sqlite3.connect('data.sqlite')
cur = conn.cursor()

## Display the names of all the employees in Boston.

In [16]:
#Your code here
pd.DataFrame(cur.execute('''
select firstName, lastName
from employees
join offices
using(officeCode)
WHERE city="Boston"
;''').fetchall())

       0          1
0  Julie   Firrelli
1  Steve  Patterson

## Do any offices have no employees?

In [17]:
#Your code here
pd.DataFrame(cur.execute('''
select city, count(*)
from offices
left join employees
using(officeCode)
group by 1
;''').fetchall())

               0  1
0         Boston  2
1         London  2
2            NYC  2
3          Paris  5
4  San Francisco  6
5         Sydney  4
6          Tokyo  2

## Write 3 Questions of your own and answer them

In [18]:
# Answers will vary
#1) Get order count by customer name
#2) get product count by order number
#3) get office city by employee full name

In [37]:
cur.execute('''
SELECT orderdetails.orderNumber, COUNT(*)
FROM orderdetails
LEFT JOIN products
ON orderdetails.productCode = products.productCode
GROUP BY orderdetails.orderNumber
ORDER BY COUNT(*) DESC;
''').fetchall()

[('10106', 18),
 ('10159', 18),
 ('10165', 18),
 ('10168', 18),
 ('10222', 18),
 ('10275', 18),
 ('10316', 18),
 ('10332', 18),
 ('10360', 18),
 ('10386', 18),
 ('10398', 18),
 ('10122', 17),
 ('10126', 17),
 ('10135', 17),
 ('10181', 17),
 ('10182', 17),
 ('10204', 17),
 ('10210', 17),
 ('10280', 17),
 ('10287', 17),
 ('10304', 17),
 ('10306', 17),
 ('10310', 17),
 ('10312', 17),
 ('10350', 17),
 ('10373', 17),
 ('10103', 16),
 ('10108', 16),
 ('10110', 16),
 ('10142', 16),
 ('10143', 16),
 ('10145', 16),
 ('10167', 16),
 ('10173', 16),
 ('10185', 16),
 ('10192', 16),
 ('10193', 16),
 ('10207', 16),
 ('10212', 16),
 ('10262', 16),
 ('10308', 16),
 ('10339', 16),
 ('10390', 16),
 ('10105', 15),
 ('10120', 15),
 ('10127', 15),
 ('10208', 15),
 ('10211', 15),
 ('10223', 15),
 ('10227', 15),
 ('10266', 15),
 ('10273', 15),
 ('10314', 15),
 ('10321', 15),
 ('10329', 15),
 ('10363', 15),
 ('10375', 15),
 ('10119', 14),
 ('10148', 14),
 ('10180', 14),
 ('10197', 14),
 ('10225', 14),
 ('10229', 14),
 ('10248', 14),
 ('10250', 14),
 ('10253', 14),
 ('10276', 14),
 ('10281', 14),
 ('10283', 14),
 ('10288', 14),
 ('10291', 14),
 ('10296', 14),
 ('10305', 14),
 ('10322', 14),
 ('10324', 14),
 ('10328', 14),
 ('10331', 14),
 ('10358', 14),
 ('10361', 14),
 ('10414', 14),
 ('10416', 14),
 ('10419', 14),
 ('10104', 13),
 ('10124', 13),
 ('10138', 13),
 ('10153', 13),
 ('10155', 13),
 ('10169', 13),
 ('10184', 13),
 ('10254', 13),
 ('10259', 13),
 ('10282', 13),
 ('10284', 13),
 ('10285', 13),
 ('10354', 13),
 ('10367', 13),
 ('10380', 13),
 ('10382', 13),
 ('10383', 13),
 ('10420', 13),
 ('10425', 13),
 ('10117', 12),
 ('10161', 12),
 ('10175', 12),
 ('10178', 12),
 ('10183', 12),
 ('10235', 12),
 ('10241', 12),
 ('10292', 12),
 ('10336', 12),
 ('10347', 12),
 ('10371', 12),
 ('10401', 12),
 ('10407', 12),
 ('10140', 11),
 ('10147', 11),
 ('10149', 11),
 ('10150', 11),
 ('10177', 11),
 ('10194', 11),
 ('10203', 11),
 ('10206', 11),
 ('10246', 11),
 ('10263', 11),
 ('10268', 11),
 ('10270', 11),
 ('10271', 11),
 ('10299', 11),
 ('10301', 11),
 ('10311', 11),
 ('10313', 11),
 ('10342', 11),
 ('10393', 11),
 ('10412', 11),
 ('10114', 10),
 ('10151', 10),
 ('10162', 10),
 ('10176', 10),
 ('10187', 10),
 ('10195', 10),
 ('10215', 10),
 ('10260', 10),
 ('10278', 10),
 ('10341', 10),
 ('10349', 10),
 ('10355', 10),
 ('10357', 10),
 ('10378', 10),
 ('10391', 10),
 ('10129', 9),
 ('10141', 9),
 ('10179', 9),
 ('10186', 9),
 ('10191', 9),
 ('10220', 9),
 ('10234', 9),
 ('10237', 9),
 ('10244', 9),
 ('10245', 9),
 ('10252', 9),
 ('10261', 9),
 ('10293', 9),
 ('10307', 9),
 ('10318', 9),
 ('10319', 9),
 ('10325', 9),
 ('10337', 9),
 ('10353', 9),
 ('10356', 9),
 ('10370', 9),
 ('10372', 9),
 ('10381', 9),
 ('10400', 9),
 ('10403', 9),
 ('10410', 9),
 ('10411', 9),
 ('10418', 9),
 ('10107', 8),
 ('10131', 8),
 ('10133', 8),
 ('10139', 8),
 ('10164', 8),
 ('10172', 8),
 ('10188', 8),
 ('10196', 8),
 ('10209', 8),
 ('10230', 8),
 ('10232', 8),
 ('10238', 8),
 ('10300', 8),
 ('10327', 8),
 ('10333', 8),
 ('10340', 8),
 ('10348', 8),
 ('10359', 8),
 ('10369', 8),
 ('10388', 8),
 ('10389', 8),
 ('10396', 8),
 ('10399', 8),
 ('10404', 8),
 ('10134', 7),
 ('10201', 7),
 ('10202', 7),
 ('10214', 7),
 ('10217', 7),
 ('10226', 7),
 ('10264', 7),
 ('10297', 7),
 ('10315', 7),
 ('10344', 7),
 ('10394', 7),
 ('10109', 6),
 ('10111', 6),
 ('10157', 6),
 ('10160', 6),
 ('10163', 6),
 ('10198', 6),
 ('10200', 6),
 ('10224', 6),
 ('10228', 6),
 ('10247', 6),
 ('10251', 6),
 ('10258', 6),
 ('10267', 6),
 ('10272', 6),
 ('10279', 6),
 ('10302', 6),
 ('10309', 6),
 ('10326', 6),
 ('10334', 6),
 ('10343', 6),
 ('10346', 6),
 ('10374', 6),
 ('10377', 6),
 ('10413', 6),
 ('10417', 6),
 ('10424', 6),
 ('10115', 5),
 ('10121', 5),
 ('10174', 5),
 ('10205', 5),
 ('10221', 5),
 ('10239', 5),
 ('10249', 5),
 ('10257', 5),
 ('10274', 5),
 ('10295', 5),
 ('10320', 5),
 ('10351', 5),
 ('10368', 5),
 ('10379', 5),
 ('10397', 5),
 ('10405', 5),
 ('10415', 5),
 ('10423', 5),
 ('10100', 4),
 ('10101', 4),
 ('10113', 4),
 ('10123', 4),
 ('10128', 4),
 ('10137', 4),
 ('10152', 4),
 ('10170', 4),
 ('10171', 4),
 ('10190', 4),
 ('10219', 4),
 ('10289', 4),
 ('10330', 4),
 ('10352', 4),
 ('10362', 4),
 ('10384', 4),
 ('10395', 4),
 ('10136', 3),
 ('10166', 3),
 ('10199', 3),
 ('10213', 3),
 ('10233', 3),
 ('10236', 3),
 ('10240', 3),
 ('10335', 3),
 ('10338', 3),
 ('10365', 3),
 ('10366', 3),
 ('10392', 3),
 ('10402', 3),
 ('10406', 3),
 ('10102', 2),
 ('10112', 2),
 ('10125', 2),
 ('10130', 2),
 ('10146', 2),
 ('10154', 2),
 ('10156', 2),
 ('10218', 2),
 ('10231', 2),
 ('10243', 2),
 ('10255', 2),
 ('10256', 2),
 ('10265', 2),
 ('10269', 2),
 ('10290', 2),
 ('10298', 2),
 ('10303', 2),
 ('10323', 2),
 ('10385', 2),
 ('10409', 2),
 ('10421', 2),
 ('10422', 2),
 ('10116', 1),
 ('10118', 1),
 ('10132', 1),
 ('10144', 1),
 ('10158', 1),
 ('10189', 1),
 ('10216', 1),
 ('10242', 1),
 ('10277', 1),
 ('10286', 1),
 ('10294', 1),
 ('10317', 1),
 ('10345', 1),
 ('10364', 1),
 ('10376', 1),
 ('10387', 1),
 ('10408', 1)]

In [36]:
# Your code here
cur.execute('''
SELECT customers.customerName, COUNT(*)
FROM customers
LEFT JOIN orders
ON customers.customerNumber = orders.customerNumber
GROUP BY customers.customerName
ORDER BY COUNT(*) DESC;
''').fetchall()

[('Euro+ Shopping Channel', 26),
 ('Mini Gifts Distributors Ltd.', 17),
 ('Australian Collectors, Co.', 5),
 ('Danish Wholesale Imports', 5),
 ('Down Under Souveniers, Inc', 5),
 ('Dragon Souveniers, Ltd.', 5),
 ('Reims Collectables', 5),
 ("Anna's Decorations, Ltd", 4),
 ('Baane Mini Imports', 4),
 ('Blauer See Auto, Co.', 4),
 ('Corporate Gift Ideas Co.', 4),
 ('Diecast Classics Inc.', 4),
 ('Handji Gifts& Co', 4),
 ("Kelly's Gift Shop", 4),
 ('La Rochelle Gifts', 4),
 ('Land of Toys Inc.', 4),
 ('Muscle Machine Inc', 4),
 ('Royale Belge', 4),
 ('Salzburg Collectables', 4),
 ('Souveniers And Things Co.', 4),
 ('Technics Stores Inc.', 4),
 ('The Sharp Gifts Warehouse', 4),
 ('Tokyo Collectables, Ltd', 4),
 ('Volvo Model Replicas, Co', 4),
 ('AV Stores, Co.', 3),
 ('Alpha Cognac', 3),
 ('Atelier graphique', 3),
 ('Australian Collectables, Ltd', 3),
 ('Australian Gift Network, Co', 3),
 ('Auto Canal+ Petit', 3),
 ('Auto-Moto Classics Inc.', 3),
 ('Classic Legends Inc.', 3),
 ('Collectables For Less Inc.', 3),
 ('Corrida Auto Replicas, Ltd', 3),
 ('Cruz & Sons Co.', 3),
 ('Enaco Distributors', 3),
 ('Extreme Desk Decorations, Ltd', 3),
 ('FunGiftIdeas.com', 3),
 ('Gift Depot Inc.', 3),
 ('Gift Ideas Corp.', 3),
 ('Gifts4AllAges.com', 3),
 ('GiftsForHim.com', 3),
 ('Herkku Gifts', 3),
 ("L'ordine Souveniers", 3),
 ("La Corne D'abondance, Co.", 3),
 ('Lyon Souveniers', 3),
 ('Marseille Mini Autos', 3),
 ('Mini Auto Werke', 3),
 ('Mini Caravy', 3),
 ('Mini Creations Ltd.', 3),
 ('Mini Wheels Co.', 3),
 ('Motor Mint Distributors Inc.', 3),
 ('Online Diecast Creations Co.', 3),
 ('Oulu Toy Supplies, Inc.', 3),
 ('Petit Auto', 3),
 ('Québec Home Shopping Network', 3),
 ('Rovelli Gifts', 3),
 ('Saveley & Henriot, Co.', 3),
 ('Scandinavian Gift Ideas', 3),
 ('Signal Gift Stores', 3),
 ('Stylish Desk Decors, Co.', 3),
 ('Suominen Souveniers', 3),
 ('Tekni Collectables Inc.', 3),
 ('Toys of Finland, Co.', 3),
 ('Toys4GrownUps.com', 3),
 ('UK Collectables, Ltd.', 3),
 ('Vitachrome Inc.', 3),
 ('Amica Models & Co.', 2),
 ('Auto Associés & Cie.', 2),
 ('Boards & Toys Co.', 2),
 ('CAF Imports', 2),
 ('Cambridge Collectables Co.', 2),
 ('Canadian Gift Exchange Network', 2),
 ('Classic Gift Ideas, Inc', 2),
 ('Clover Collections, Co.', 2),
 ('Collectable Mini Designs Co.', 2),
 ('Daedalus Designs Imports', 2),
 ('Diecast Collectables', 2),
 ('Double Decker Gift Stores, Ltd', 2),
 ('Frau da Collezione', 2),
 ('Heintze Collectables', 2),
 ('Iberia Gift Imports, Corp.', 2),
 ('King Kong Collectables, Co.', 2),
 ("Marta's Replicas Co.", 2),
 ("Men 'R' US Retailers, Ltd.", 2),
 ('Microscale Inc.', 2),
 ('Mini Classics', 2),
 ('Norway Gifts By Mail, Co.', 2),
 ('Online Mini Collectables', 2),
 ('Osaka Souveniers Co.', 2),
 ('Royal Canadian Collectables, Ltd.', 2),
 ('Signal Collectibles Ltd.', 2),
 ('Super Scale Inc.', 2),
 ('Toms Spezialitäten, Ltd', 2),
 ('Vida Sport, Ltd', 2),
 ('West Coast Collectables Co.', 2),
 ('giftsbymail.co.uk', 2),
 ('ANG Resellers', 1),
 ('American Souvenirs Inc', 1),
 ('Anton Designs, Ltd.', 1),
 ('Asian Shopping Network, Co', 1),
 ('Asian Treasures, Inc.', 1),
 ('BG&E Collectables', 1),
 ('Bavarian Collectables Imports, Co.', 1),
 ('Cramer Spezialitäten, Ltd', 1),
 ('Der Hund Imports', 1),
 ('Feuer Online Stores, Inc', 1),
 ('Franken Gifts, Co', 1),
 ('Havel & Zbyszek Co', 1),
 ('Kommission Auto', 1),
 ('Kremlin Collectables, Co.', 1),
 ('Lisboa Souveniers, Inc', 1),
 ('Messner Shopping Network', 1),
 ('Mit Vergnügen & Co.', 1),
 ('Natürlich Autos', 1),
 ('Porto Imports Co.', 1),
 ('Precious Collectables', 1),
 ('Raanan Stores, Inc', 1),
 ('SAR Distributors, Co', 1),
 ('Schuyler Imports', 1),
 ('Stuttgart Collectable Exchange', 1),
 ('Warburg Exchange', 1)]

In [ ]:
# Your code here

In [ ]:
# Your code here

## Level Up: Display the names of each product each employee has sold.

In [ ]:
# Your code here

## Level Up: Display the Number of Products each Employee Has sold

In [ ]:
#Your code here

## Summary

Congrats! You now know how to use Join statements, along with leveraging your foreign keys knowledge!